<!DOCTYPE html>
	<html lang="en">
		<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
      <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<a href="mailto:fontenot.scott@gmail.com" class = "social" aria-lable="Gmail"><i class="far fa-envelope"></i></a>&nbsp;&nbsp;&nbsp;				
        		  <a href="https://github.com/scottfontenot" class = "social" area-label="Github"><i class="fab fa-github"></i></a>&nbsp;&nbsp;&nbsp;
			        <a href="https://twitter.com/bambocheur" class = "social" area-label="Twitter"><i class="fab fa-twitter"></i></a>
				  </ul>
			</footer>
		</body>
	</html>	
